@import "../base";

.AddLocationForm {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  border: $main-color solid;
  border-radius: 1rem;

  padding: 1rem;
}
