.errorLocation {
  @media (max-width: 729px) {
    font-size: 1rem;

    margin: 2rem;
  }

  @media (min-width: 730px) {
    font-size: 2rem;

    margin: 5rem;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__deleteButton {
    color: darkgray;

    font-weight: normal;
    font-size: 1.5rem;

    cursor: pointer;

    margin-top: 2.5rem;

    transition: 0.5s;

    &:hover {
      transform: scale(1.2);
      color: black;
    }
  }

  &__title {
    @media (max-width: 729px) {
      font-size: 1.5rem;
    }

    @media (min-width: 730px) {
      font-size: 2.5rem;
    }

    margin: 1rem;

    text-decoration: underline;
    cursor: pointer;

    transition: 0.5s;

    &:hover{
      transform: scale(1.2);
    }
  }
}
