@import "src/styles/base";

.PreForm {
  font-style: italic;

  margin: 3rem;

  width: 40rem;
  height: 20rem;

  border: $main-color dashed;
  border-radius: 1rem;

  display: flex;
  justify-content: start;

  &__data {
    border-left: $main-color dashed;;

    padding: 1.5rem 2.5rem;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  &__element {
    margin: 1rem 0;

    font-size: 2rem;
  }

  &__image{
    width: 10rem;
    height: 10rem;

    border: 0.3rem dashed $main-color;
    border-radius: 50%;

    margin: 1rem;
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 1rem 0;

    font-size: 2.5rem;

    text-decoration: underline;
    cursor: pointer;

    transition: 1s;

    &:hover{
      transform: scale(1.2);
    }
  }
}
