@import "src/styles/base";

.weatherItem {
  @media (max-width: 729px) {
    width: 20rem;
    height: 15rem;

    display: flex;
    justify-content: initial;
  }

  @media (min-width: 730px) {
    width: 40rem;
    height: 25rem;

    display: flex;
    justify-content: initial;
  }

  margin: 3rem;

  border: $main-color solid;
  border-radius: 1rem;

  box-shadow: 0 0 10px 5px lightgray;

  transition: all 0.25s ease;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-0.5rem);
  }
}
