@import "src/styles/base";

.WeatherItem {

  margin: 3rem;

  width: 45rem;
  height: 25rem;

  border: $main-color solid;
  border-radius: 1rem;

  display: flex;
  justify-content: start;

  &__data {
    border-left: $main-color solid;;

    padding: 1.5rem 3rem;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  &__element {
    margin: 1rem;

    font-size: 2rem;
  }

  &__title {
    margin: 1rem;

    font-size: 2.5rem;

    text-decoration: underline;
    cursor: pointer;

    transition: 1s;

    &:hover{
      transform: scale(1.2);
    }
  }
}

.DeleteIcon {
  margin: 0.5rem;

  cursor: pointer;

  transform: scale(1.6);
  transition: 1s;

  &:hover{
    transform: scale(2);
  }
}
