@import "../../base";

.Button {
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;

  margin: 0 4rem;

  border: $main-color solid;
  border-radius: 1rem;

  cursor: pointer;

  transition: 0.5s;

  &:hover{
    border-color: black;
    transform: scale(1.2);
  }
}
