@import "../../base";

.Form {
  height: 14rem;
  width: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: $main-color solid;
  border-radius: 1rem;
}
