@import "/src/styles/base";

.Header {
  top: 0;
  z-index: 100;
  width: 100%;

  position: fixed;
  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 3rem;

  border-bottom: $main-color solid;
  border-radius: 1rem;

  &__items {
    display: flex;
    justify-content: space-between;
  }
}
