@import "/src/styles/base";

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 3rem;

  border-bottom: $main-color solid;
  border-radius: 1rem;

  &__items {
    display: flex;
    justify-content: space-between;
  }
}
